<footer>
    {%include nav.html class="menu-bottom"%}

    <div class="social">
        <ul>
            <li><a href="https://github.com/PososikTeam"><span class="icon icon--github">{% include github.svg %}</span><span class="username"></span></a>
            </li>
            <li><a href="https://kaggle.com/lolik228"><span class="icon icon--kaggle">{% include kaggle.svg %}</span><span class="username"></span></a>
            </li>
        </ul>
    </div>
    <h1 class="logo">PososikTeam</h1>
</footer>